<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- This link tag is used to link html file with css file -->
    <link rel="stylesheet" href="/frontend/style.css">
    <title></title>
  </head>

  <body>
    <!--Nav tag is used here for navigation bar at top right corner -->
    <nav>
      <div id="navdiv">
        <ul>
          <li><a href="/frontend/analisis.html" class="c">¿Por qué SQL?</a></li>
          <li><a href="https://www.google.com/gmail/about/#" class="c">Gmail</a></li>
          <li><a href="https://www.google.co.in/imghp?hl=en&tab=wi&ogbl" class="c">Images</a></li>
          <!--<div><img src=""></div>-->
          <li><div><button type="submit" name="button">Sign In</button></div></li>
        </ul>
      </div>
    </nav>
    <!--End of navigation -->
    <!-- Main body of google -->
    <main>
      <center>
        <img src="/frontend/images/Ai2DB_sin_fondo.png" width="20%" height="5%" id="googleimg">
        <!-- Search bar -->
        
          
        <form action="/" method="get">
          <div id="maindiv">
            <!-- <span id="search"><img src="search.png"></span> -->
            &nbsp;&nbsp;&nbsp;
            <input type="text" name="prompt" id="text" placeholder="¿Qué quieres saber?" style="outline: none">
            <span><button id="mic" onclick="mySpeechRecognition()" style="outline: none"> <img src="/frontend/images/mic.png" height="100%" ></button></span>
          </div>
          <section>
            <div><a href="https://es.wikipedia.org/wiki/Inteligencia_artificial" class="URL">Info</a></div>
            <div><button type="submit" class="URL">Hacer solicitud</button></div>
          </section>
        </form>
        <div id="Bottomdiv">
        </div>
        
        {% if data %}
        PROMPT: {{ prompt }}
        <table>
          <tr>
          {% for header in headings %}
            <th>{{ header }}</th>
          {% endfor %}
          </tr>
          {% for row in data %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table> 
        {% endif %}

        <!--  Esto es para hacer pruebas para subir el csv !-->
        <!-- <h2>Enviar archivo CSV</h2>
        <form action="/uploadfile/" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br><br> -->
            <!-- <input type="submit" value="Enviar archivo"> -->
        </form>

      </center>
      <script src="/frontend/script.js"></script>
    </main>
  </body>
</html>
